body
{
	background-color: #0066CC;
	font-family: Arial;
}

body a
{
	text-decoration: none;
}

.build
{
	display: inline;
	margin-left: 8px;
	margin-right: 8px;
	white-space: nowrap;
}

.defeat
{
	background-color: #FF5050;
}

.lastSeasonTitle
{
	margin: 2% auto;
	text-align: center;
}

.logo
{
	margin: 2% auto;
	text-align: center;
}

.logo a img
{
	width: 48%;
}

.matchHolder
{
	border-radius: 4px;
	color: white;
	display:table;
	font-size: 80%;
	margin: 2.4% auto;
	padding: 2px;
	max-width: 60%;
}

.matchHolder div span
{
	margin: 4px;
	white-space: nowrap;
}

.matchHolder img
{
	vertical-align: middle;
}

.matchHolder .blueteam
{
	display: table-cell;
	padding: 8px;
	vertical-align: top;
	width: 48%;
}

.matchHolder .blueteam .title
{
	font-weight: bold;
	padding-bottom: 8px;
}

.matchHolder .middle
{
	display: table-cell;
	font-weight: bold;
	padding: 8px;
	text-align: center;
}

.matchHolder .middle div h2
{
	margin-top: 164%;
}

.matchHolder .redteam
{
	display: table-cell;
	padding: 8px;
	text-align: right;
	vertical-align: top;
	width: 48%;
}

.matchHolder .redteam .title
{
	font-weight: bold;
	padding-bottom: 8px;
}

.mpmbchamps
{
	display: table;
	margin: 2px auto;
	text-align: center;
}

.mpmbchamps h4
{
	color: white;
	margin-top: 2%;
	margin-bottom: 0.6%;
}

.mpmbchamps form
{
	margin: 0;
}

.mpmbchamps img
{
	border-radius: 100%;
	padding: 0;
	width: 32px;
}

.mpmbchamps select
{
	width: 6%;
}

.mpmbchamps table
{
	color: white;
	display: table-cell;
	font-size: 14px;
	font-weight: bold;
	
	text-align: center;
	text-align: -moz-center;
	text-align: -webkit-center;
	width: 28%;
}

.nomatches
{
	color: white;
	font-weight: bold;
	text-align: center;
}

.player
{
	color: black;
	font-size: 80%;
	width: 4%;
}

.player span
{
	vertical-align: middle;
}

.search
{
	overflow: hidden;
	text-align: center;
}

.search button {
  background-color: #00B800;
  border: none;
  box-shadow: 0px 1px rgba(255, 255, 255, 0.3) inset, 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-radius:4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  font-family: 'Arial';
  font-size: 12px;
  height: 4%;
  padding: 0.28%;
  text-decoration: none;
  width: 10%;
}

.search button:hover {
    border: none;
    background-color: #009900;
	box-shadow: 0px 1px rgba(255, 255, 255, 0.3) inset, 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.search input
{
  border: none;
  border-radius: 4px;
  height: 4%;
  padding: 0.28%;
  width: 16%;
}

.search select
{
  background-color: black;
  width: 6%;
}

.small
{
	width: 60%
}

.spells
{
	display: inline;
	white-space: nowrap;
}

.summonerDivision
{
	background-color: black;
	border-radius: 2px;
	color: white;
	display: none;
	font-weight: normal;
}

td
{
	text-align: center;
}

td img
{
	padding-top: 2px;
	width: 20px;
}

.tierImage
{
	margin: -4% 0;
	width: 128px;
}

.tip
{
	color: #999;
	font-size: 14px;
	margin: auto;
	width: 360px;
	padding: 2px;
}

thead th
{
	color: black;
	font-size: 80%;
	padding: 4px;
	text-align: center;
	white-space: nowrap;
}

#ui-datepicker-div {
	font-size:11px;
}

.victory
{
	background-color: #33CC33
}

@media all and (-ms-high-contrast:none)
{
	.mpmbchamps table
	{
	white-space: nowrap;
	}
	
	*::-ms-backdrop, .mpmbchamps table
	{
	white-space: nowrap;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.mpmbchamps
	{
		margin: auto 36%;
	}
	.mpmbchamps table
	{
		vertical-align: top;
		white-space: nowrap;
	}
}
