body
{
	background-color: #0066CC;
	font-family: Arial;
}

body a
{
	text-decoration: none;
}

.build
{
	display: inline;
	margin-left: 8px;
	margin-right: 8px;
	white-space: nowrap;
}

.defeat
{
	background-color: #FF5050;
}

.logo
{
	margin: 4% auto;
	text-align: center;
}

.logo a img
{
	width: 48%;
}

.matchHolder
{
	border-radius: 4px;
	color: white;
	display:table;
	font-size: 80%;
	margin: 2.4% auto;
	padding: 4px;
	width: 50%;
}

.matchHolder div span
{
	margin: 4px;
	white-space: nowrap;
}

.matchHolder img
{
	vertical-align: middle;
}

.matchHolder .blueteam
{
	display: table-cell;
	padding: 8px;
	vertical-align: top;
	width: 48%;
}

.matchHolder .blueteam .title
{
	font-weight: bold;
	padding-bottom: 8px;
}

.matchHolder .middle
{
	display: table-cell;
	font-weight: bold;
	padding: 8px;
	text-align: center;
}

.matchHolder .redteam
{
	display: table-cell;
	padding: 8px;
	text-align: right;
	vertical-align: top;
	width: 48%;
}

.matchHolder .redteam .title
{
	font-weight: bold;
	padding-bottom: 8px;
}

.nomatches
{
	color: white;
	font-weight: bold;
	text-align: center;
}

.player
{
	color: black;
	font-size: 80%;
	width: 4%;
}

.player span
{
	vertical-align: middle;
}

.search
{
	overflow: hidden;
	text-align: center;
}

.search button {
    background-color: #00B800;
    border: none;
	box-shadow: 0px 1px rgba(255, 255, 255, 0.3) inset, 0px 0px 1px rgba(0, 0, 0, 0.2);
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius:0px;
    color: white;
    font-family: 'Arial';
    font-size: 12px;
	padding: 0.28%;
    text-decoration: none;
	width: 8%;
}

.search button:hover {
    border: none;
    background-color: #009900;
	box-shadow: 0px 1px rgba(255, 255, 255, 0.3) inset, 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.search select
{
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	padding: 0.2%;
	text-align: center;
	width: 4.8%;
}

.search input
{
	padding: 0.28%
}

.spells
{
	display: inline;
	white-space: nowrap;
}

td
{
	text-align: center;
}

td img
{
	padding-top: 2px;
	width: 24px;
}

thead th
{
	color: black;
	font-size: 80%;
	padding: 4px;
	text-align: center;
	white-space: nowrap;
}

#ui-datepicker-div {
	font-size:11px;
}

.victory
{
	background-color: #33CC33
}